footer {
    background-color: $color25;
    color: $color17;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    padding: 0px 50px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 600px){

    footer {
        background-color: $color23;
        color: $color17;
        font-family: 'Times New Roman', Times, serif;
        font-size: 100%;
        padding: 0px 50px 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}